* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fafafa;
    color: #222;
}

/* Header */
.header {
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: white;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: #c79b4b;
}

.nav a {
    text-decoration: none;
    margin-left: 25px;
    color: #333;
    font-weight: 500;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Hero */
.hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1503387762-592deb58ef4e")
        center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 7%;
}

.hero-content {
    max-width: 450px;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    line-height: 1.2;
}

.hero-content p {
    margin: 20px 0;
    font-size: 18px;
}

.btn {
    padding: 12px 25px;
    background: #c79b4b;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

/* About */
.about, .services, .portfolio, .contact {
    padding: 80px 8%;
    text-align: center;
}

.about p {
    max-width: 700px;
    margin: auto;
    padding-top: 20px;
}

/* Services */
.service-boxes {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    width: 30%;
    background: #fff;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Portfolio */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.portfolio .item {
    height: 220px;
    background: #ddd;
    border-radius: 10px;
}

/* Contact */
.contact p {
    margin-top: 10px;
    font-size: 18px;
}

/* Responsive */
@media(max-width: 850px) {

    .nav {
        display: none;
        flex-direction: column;
        background: white;
        width: 100%;
        padding: 20px;
        text-align: center;
        position: absolute;
        top: 70px;
        left: 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .nav a {
        display: block;
        margin: 15px 0;
    }

    .hamburger {
        display: block;
    }

    .service {
        width: 100%;
    }

    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 550px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
    }
}
